.infrastructure .grid {
  gap: 0;
}

.infrastructure-content {
  padding: 30px;
  border: 1px solid rgba(241, 245, 249, 0.15);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  transform: scale(0);
  opacity: 0;
  transition:
    transform 2s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 2s ease;
}

.infrastructure-content.visible {
  transform: scale(1);
  opacity: 1;
}

.infrastructure-content .icon {
  padding: 5px;
  border-radius: 10px;
  background: var(--grey);
}

.infrastructure-content:hover .icon {
  background: var(--secondary);
}

.infrastructure-content .icon svg {
  width: 30px;
  height: 30px;
  fill: var(--secondary);
  color: var(--secondary);
}

.infrastructure-content h3 {
  padding-bottom: 4px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .infrastructure-content {
    flex-direction: column;
  }

  .infrastructure-content .icon {
    background: var(--secondary);
  }
}
