.contact .container {
  max-width: 60%;
  margin: 0 auto;
}

.contact .description {
  padding-bottom: 30px;
}

.form-wrapper {
  padding: 40px;
  background: var(--primary);
  border-radius: var(--border-radius);
  border: 1px solid rgba(241, 245, 249, 0.15);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form * {
  font-family: "Geist", sans-serif;
}

.form .grid-2 {
  padding-top: 0;
  padding-bottom: 0;
  gap: 15px;
}

.form input,
.form textarea,
.form select {
  padding: 12px 22px;
  background: var(--primary);
  border: 1px solid rgba(241, 245, 249, 0.15);
  border-radius: 10px;
  outline: none;
  color: var(--secondary);
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  border-color: rgba(241, 245, 249, 0.5);
}

.form label {
  color: var(--secondary);
}

.form .acceptance {
  position: relative;
  display: flex;
  gap: 15px;
}

.form .acceptance a {
  text-decoration: underline;
}

.form input[type="checkbox"] {
  opacity: 0;
}

.form .checkbox {
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(241, 245, 249, 0.15);
  border-radius: 5px;
}

.form input:checked + .checkbox {
  top: 0;
  left: 8px;
  width: 8px;
  height: 15px;
  transform: rotate(45deg);
  border-width: 0 1px 1px 0;
  border-color: rgba(241, 245, 249, 0.5);
  border-radius: 0px;
  transition: left .3s, width .3s, height .3s, transform .3s, border-color .3s;
}

.form button {
  margin-top: 10px;
  width: max-content;
}

.form button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 768px) {
  .contact .container {
    max-width: 100%;
  }

  .form-wrapper {
    padding: 20px;
  }
}
