footer {
  padding: 60px 0 20px;
  border-top: 1px solid var(--grey);
  border-radius: 40px 40px 0 0;
}

footer a {
  color: var(--grey);
}

footer a:hover {
  color: var(--secondary);
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-top {
  padding-bottom: 60px;
}

footer .logo {
  color: var(--secondary);
  font-size: 6em;
  font-weight: 500;
}

.footer-contact {
  min-width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 30px;
  border-radius: var(--border-radius);
  border: 1px solid rgba(241, 245, 249, 0.2);
}

.contact-card:hover {
  border: 1px solid rgba(241, 245, 249, 0.5);
}

.contact-card-title {
  color: var(--secondary);
  font-size: 1.1em;
  font-weight: 500;
}

.footer-links {
  display: flex;
  gap: 25px;
}

.footer-copy {
  text-align: right;
}

@media (max-width: 991px) {
  footer .logo {
    font-size: 4em;
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }

  footer .logo {
    text-align: center;
  }
}
